* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #383838;
  font-family: 'Gotham-Bold';
}

@font-face {
  font-family: Gotham-Bold;
  src: url("../fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: Gotham-Rounded-Light;
  src: url("../fonts/Gotham Rounded Light.otf");
}

@font-face {
  font-family: Helvetica-Neue-Light;
  src: url("../fonts/HelveticaNeue.ttc");
  font-weight: 300;
}

@font-face {
  font-family: Helvetica-Neue-Medium;
  src: url("../fonts/HelveticaNeue.ttc");
  font-weight: 600;
}

@font-face {
  font-family: Helvetica-Neue-Bold;
  src: url("../fonts/HelveticaNeue.ttc");
  font-weight: 700;
}

header {
  position: relative;
}

header ul {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #888888;
}

header li a {
  color: #383838;
  font-size: 1.6rem;
}

header li a i {
  font-size: 1.6rem;
  margin-left: 0.8rem;
}

header .header-form {
  width: 80%;
  height: 5rem;
  position: absolute;
  top: 50%;
  left: 10%;
  background-color: #888888;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 2rem;
}

header .header-form select {
  width: 19%;
  height: 80%;
  margin-top: 5px;
}

header .header-form input[type=search] {
  width: 49%;
  height: 80%;
  margin-top: 5px;
}

header .header-form input[type=text] {
  width: 30%;
  height: 80%;
  margin-top: 5px;
}

.home-page {
  width: 100%;
  height: 100vh;
  background: url("../img/audio-e-guitars-guitars-music-6966.jpg") bottom/cover no-repeat;
}

.btn-primary {
  background-color: #D35366;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 2px;
  padding: 0.5rem 0.8rem;
}

.btn {
  padding: 1rem 2rem;
}

.container {
  width: 100%;
  position: relative;
}

.container h3 {
  font-size: 2.4rem;
  font-weight: text-bold;
  color: #888888;
  margin: 1.5rem 0;
  padding: 0 103px;
}

.container-inner {
  width: 100%;
  height: 100vh;
  background-color: #F9F9F9;
  position: relative;
  margin: 0 auto;
}

.hot-ads {
  width: 100%;
  height: 30vh;
  font-family: 'Helvetica-Neue-Medium', 'Helvetica-Neue-Light', 'Helvetica-Neue-Bold';
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  gap: 40px;
  padding: 0 10.3rem;
  margin-bottom: 6rem;
}

.hot-ads .img-ad {
  width: 100%;
  background-image: url("/img/guitars/gamma1.jpeg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.hot-ads .text {
  width: 100%;
  margin-top: 1rem;
}

.hot-ads .text h4 {
  font-size: 3rem;
  font-weight: 700;
  color: #D35366;
}

.hot-ads .text p {
  color: #383838;
  font-size: 1.6rem;
  font-weight: 400;
  position: absolute;
  top: 80px;
  line-height: 2.5rem;
}

.hot-ads .text .small {
  width: 17%;
  font-size: 1.6rem;
  color: #383838;
  position: absolute;
  top: 20rem;
}

.hot-ads .text .buttons {
  position: absolute;
  top: 25rem;
}

.hot-ads .text .buttons i {
  padding-right: 0.5rem;
  font-size: 1rem;
}

.guitars {
  width: 95%;
  position: relative;
  margin: 0 auto;
}

.guitars .guitars-text {
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem 0;
}

.guitars .guitars-text h5 {
  font-size: 2rem;
}

.guitars .guitars-text h5 i {
  margin-right: 0.5rem;
}

.guitars .guitars-text p {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.guitars .guitars-grid {
  width: 100%;
  height: 40vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding-top: 1.5rem;
  margin-bottom: 3rem;
}

.guitars .guitars-grid .card {
  position: relative;
  border: 1px solid #888888;
  background-color: #fff;
  padding-bottom: .5rem;
}

.guitars .guitars-grid .card1-img {
  width: 100%;
  height: 60%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/img/guitars/gamma1.jpeg");
}

.guitars .guitars-grid .card2-img {
  width: 100%;
  height: 60%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/img/guitars/caraya c-55.jpeg");
}

.guitars .guitars-grid .card3-img {
  width: 100%;
  height: 60%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/img/guitars/yamaha cs40.jpg");
}

.guitars .guitars-grid .card4-img {
  width: 100%;
  height: 60%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/img/guitars/gamma2.jpeg");
}

.guitars .guitars-grid .card-text {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
}

.guitars .guitars-grid .card-title {
  font-size: 2rem;
}

.guitars .guitars-grid .card-cond {
  color: #D35366;
}

.guitars .guitars-grid .card-desc {
  font-size: 1.2rem;
}

.guitars .guitars-grid .card-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-top: 2rem;
}

.guitars .guitars-grid .card-icons i {
  font-size: 1.6rem;
}

.guitars .guitars-grid .card-icons .card-price {
  color: #D35366;
  font-size: 1.6rem;
  position: absolute;
  right: 0.5rem;
}
