
.container {
  width: 100%;
  position: relative;

  h1 {
    margin: 1.5rem 0;
    padding: 0 10.3rem;
  }
}

.container-inner {
  width: 100%;
  height: 100%;
  background-color: rgb(209, 202, 202);
  position: relative;
  margin: 0 auto;
}

.grid-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 2rem;
}
