@font-face {
    font-family: Gotham-Bold;
    src: url('../fonts/Gotham-Bold.otf');
}

@font-face {
    font-family: Gotham-Rounded-Light;
    src: url('../fonts/Gotham\ Rounded\ Light.otf');
}

@font-face {
    font-family: Helvetica-Neue-Light;
    src: url('../fonts/HelveticaNeue.ttc');
    font-weight: 300;
}

@font-face {
    font-family: Helvetica-Neue-Medium;
    src: url('../fonts/HelveticaNeue.ttc');
    font-weight: 600;
}

@font-face {
    font-family: Helvetica-Neue-Bold;
    src: url('../fonts/HelveticaNeue.ttc');
    font-weight: 700;
}