footer {
    width: 100%;
    height: 2rem;
    position: relative;
    margin-top: .5rem;
    
    
    & p {
        position: absolute;
        left: 2rem;
    }

    & .social-links {
        width: 20%;
        position: absolute;
        right: 2rem;
        top: -.6rem;

        & ul{
            @include flexBetween(row);
        }
    }
}