@import '/styles/variables';
@import '/styles/mixin';


header {
    ul {
        width: 100%;
        height: 50px;
        @include flexBetween(row);
        background-color: $secondary-color;
    }

    li a {
        color: $dark-color;
        
        &:hover {
            @include hoverEffects;
        }
    }
}