@import 'mixin';

header {
    position: relative;
    ul {
        width: 100%;
        height: 5rem;
        @include flexBetween(row);
        
        li {
            cursor: pointer;
        }
    }


    li a {
        i {
            margin-left: 0.8rem;
            transition: .3s;
        }

        &:hover {
            color: $primary-color;
        }

        &.btn:hover {
            background-color: $dark-color;
            box-shadow: 0 0 5px $secondary-color,
                        0 0 25px $secondary-color,
                        0 0 50px $secondary-color,
                        0 0 100px $secondary-color;
        }
    }
    }

    .header-form {
        width: 80%;
        height: 5rem;
        position: absolute;
        top: 50%;
        left: 10%;
        border-radius: 5px;
        margin: 0 auto;
        animation: form 2s forwards 0s ease-in-out;
        

        select {
            width: 19%;
            height: 80%;
            margin-top: 5px;
        }

        input[type=search] {
            width: 49%;
            height: 80%;
            margin-top: 5px;
        }

        input[type=text] {
            width: 30%;
            height: 80%;
            margin-top: 5px;
        }
    }
    .navbar2 {
        display: none;
    }


@media only screen and (max-width: 768px){
    header .navbar1 {
        display: none;
    }
    header .navbar2{
        display: block;
        position: relative;
        

        .img-logo {
            width: 70%;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }

        ul {
            width: 70%;
            margin: 0 auto;
            opacity: 0.7;
            border-radius: 7px;

            li {
                padding-right: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    header .navbar1 {
        display: none;
    }
    header .navbar2{
        display: block;
        position: relative;
        

        .img-logo {
            width: 70%;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }

        ul {
            width: 70%;
            margin: 0 auto;
            opacity: 0.7;
            border-radius: 7px;

            li {
                padding-right: 2rem;
            }
        }
    }
}