@import 'variables';
@import 'mixin';


header {
    position: relative;
    ul {
        width: 100%;
        height: 5rem;
        @include flexBetween(row);
        background-color: $secondary-color;
        
    }

    li a {
        color: $dark-color;

        i {
            margin-left: 0.8rem;
            
        }
    }

    .header-form {
        width: 80%;
        height: 5rem;
        position: absolute;
        top: 50%;
        left: 10%;
        background-color: $secondary-color;
        border-radius: 5px;
        margin: 0 auto;
        

        select {
            width: 19%;
            height: 80%;
            margin-top: 5px;
        }

        input[type=search] {
            width: 49%;
            height: 80%;
            margin-top: 5px;
        }

        input[type=text] {
            width: 30%;
            height: 80%;
            margin-top: 5px;
        }
    }
}
