.hot-ads {
  width: 100%;
  height: 30vh;
  font-family: 'Helvetica-Neue-Medium', sans-serif;
  position: relative;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 100%;
  gap: 40px;
  padding: 0 10.3rem;
  margin-bottom: 12rem;

  & .img-ad {
    width: 100%;
    background-image: url('/img/guitars/gamma1.jpeg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 1s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  & .text {
    width: 100%;
    margin-top: 1rem;

    p {
      position: absolute;
      top: 80px;
      line-height: 2.5rem;
    }

    .small {
      width: 17%;
      position: absolute;
      top: 22rem;
    }

    .buttons {
      position: absolute;
      top: 25rem;
      transition: transform 1s;
    }

    i {
      padding-right: 0.5rem;
    }

    button:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}
