.card-collection {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 65%;
  grid-template-rows: 100%;
  gap: 3rem;
  position: relative;
  margin: 1rem;

  .img-collection {
    background-image: url('/img/guitars/gamma1.jpeg');
  }

  .img2-collection {
    background-image: url('/img/guitars/caraya\ c-55.jpeg');
  }

  .img3-collection {
    background-image: url('/img/guitars/yamaha\ cs40.jpg');
  }

  .img4-collection {
    background-image: url('/img/guitars/gamma2.jpeg');
  }

  .img5-collection {
    background-image: url('/img/bass/gamma.jpeg');
  }

  .img6-collection {
    background-image: url('/img/bass/ibanez.jpg');
  }

  .img7-collection {
    background-image: url('/img/bass/kg.jpg');
  }
}
