.category-text {

        p {
            margin-left: 0.5rem;
        }
    }
    
    .card1-img {
        background-image: url('/img/guitars/gamma1.jpeg');
        }

    .card2-img {
        background-image: url('/img/guitars/caraya\ c-55.jpeg');
        }

    .card3-img {
        background-image: url('/img/guitars/yamaha\ cs40.jpg');
        }

    .card4-img {
        background-image: url('/img/guitars/gamma2.jpeg');
        }

    .card5-img {
        background-image: url('/img/bass/gamma.jpeg');
    }

    .card6-img {
        background-image: url('/img/bass/ibanez.jpg');
    }

    .card7-img {
        background-image: url('/img/bass/kg.jpg');
    }

    .card8-img {
        background-image: url('/img/bass/yahama.jpg');
    }

    .card9-img {
        background-image: url('/img/guitars/ibanez-eletric.jpg');
    }

    .card10-img {
        background-image: url('/img/guitars/jackson.jpg');
    }

    .card11-img {
        background-image: url('/img/guitars/ibanezrg21.jpg');
    }

    .card12-img {
        background-image: url('/img/guitars/ibanezaw.jpg');
    }

    .card13-img {
        background-image: url('/img/strings/yamaha.jpg');
    }

    .card14-img {
        background-image: url('/img/strings/string.jpeg');
    }

    .card15-img {
        background-image: url('/img/strings/jazz.jpeg');
    }

    .card16-img {
        background-image: url('/img/strings/adagio.jpg');
    }

    .card17-img {
        background-image: url('/img/case/case.jpg');
    }

    .card18-img  {
        background-image: url('/img/case/AG3HC-large.jpg');
    }

    .card19-img {
        background-image: url('/img/case/gearlux.jpg');
    }
    .card20-img {
        background-image: url('/img/case/skb.jpg');
    }

    .card21-img {
        background-image: url('/img/books/book.jpg');
    }

    .card22-img {
        background-image: url('/img/books/theory.jpg');
    }

    .card23-img {
        background-image: url('/img/books/classicaljpg.jpg');
    }

    .card24-img{
        background-image: url('https://images-na.ssl-images-amazon.com/images/I/51jY0-iHHpL._SX260_.jpg');
    }

    .card {
        position: relative;
        height: 80%;
        
    & .card-text {
        width: 90%;
        height: 40%;
        margin: 0 auto;
        position: absolute;
        top: 57%;
        margin-top: 1rem;
        
        .card-icons {
            @include flexBetween(row);
            position: relative;
            top: 2rem;
            left: 1rem;
        }
        & .card-icons i {
            position: absolute;
            right: 2rem;
            
        }
}
}