@media only screen and (max-width: 768px){
    header .navbar1 {
        display: none;
    }
    header .navbar2{
        display: block;
        position: relative;
        

        .img-logo {
            width: 70%;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }

        ul {
            width: 70%;
            margin: 0 auto;
            opacity: 0.7;
            border-radius: 7px;

            li {
                padding-right: 2rem;
            }
        }
    }

    .hot-ads {
        grid-template-columns: 100%;
        margin-bottom: 15rem;
        & .text{

        width: 85%;
        position: absolute;
        top: 75%;
        
        left: 10%;

        h4 {
            position: absolute;
            top: 50px;
            left: 8%;
        }
    }
    }

    .grid-container {
        grid-template-columns: 100%;
        margin-top: 1rem;;

        .left-column {
            display: none;
        }
    }

    .cardsGrid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 1fr);
        }
}