@media only screen and (max-width: 768px){
    header .navbar1 {
        display: none;
    }
    header .navbar2{
        display: block;
        position: relative;
        

        .img-logo {
            width: 70%;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }

        ul {
            width: 70%;
            margin: 0 auto;
            opacity: 0.7;
            border-radius: 7px;

            li {
                padding-right: 2rem;
            }
        }
    }

    .hot-ads {
        grid-template-columns: 100%;
        margin-bottom: 15rem;
        & .text{
        width: 85%;
        position: absolute;
        top: 80%;
        left: 10%;

        h4 {
            position: absolute;
            top: 50px;
            left: 8%;
        }
    }
    }

    
    .cardsGrid {
        height: 230vh;
        grid-template-columns: 100%;

        .card {
            height: 100%;
            height: 70%;

            .card-text {
                padding: .5rem 1rem;
            }
        }
        }
        


    .grid-container {
        margin-top: 5rem;
        grid-template-columns: 100%;

        .left-column {
            display: none;
        }



        .right-column {
            width: 100%;
            height: 60vh;
            grid-template-columns: 100%;

            .cardImg2 {
                height: 80%;
            }
        }
    }


    
}