@import 'variables';

@mixin flexStart($direction) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexBetween($direction) {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexAround($direction) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: $direction;
}


