@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Gotham-Rounded-Light', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $dark-color;
    font-family: 'Gotham-Bold', sans-serif;
}


