@import './fonts';

//Colors
$primary-color: #D35366;
$secondary-color: #888888;
$dark-color: #383838;
$white-color: #fff;

// Font-Size
$title-text: 2.4rem;
$md-text: 1.6rem;
$text: 1.2rem;
$sm-text: 1rem;

//Font Weight
$text-bold: 700;
$text-md: 600;
$text-normal: 400;
